<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>SSH keys</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                   align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <a href="https://rakeshmandal.com" title="logo" target="_blank">
                            <img width="90" src="cid:logo_image@fastapi-mail" title="logo"
                                 alt="logo">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                               style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                                        New SSH keys were created</h1>
                                    <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                    <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">A new pair of
                                        SSH keys were created for connecting for server. This pair will be used for all
                                        your servers. There are steps how to use these keys:
                                    <ul style="text-align:left;color:#455056; font-size:15px;line-height:24px;">
                                        <li>Add the keys to your keys directory:
                                            <ul>
                                                <li><b>For Windows:</b> copy to
                                                    <code style="background-color: #eee; border-radius: 3px; font-family: courier, monospace;">
                                                        C:\Users\<i><b>&lt;your_user&gt;</b></i>/.ssh/
                                                    </code>
                                                </li>
                                                <li><b>For Linux:</b> copy to
                                                    <code style="background-color: #eee; border-radius: 3px; font-family: courier, monospace;">
                                                        ~/.ssh/
                                                    </code>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>Go to the directory with SSH keys:
                                            <ul>
                                                <li><b>For Windows:</b>
                                                    <code style="background-color: #eee; border-radius: 3px; font-family: courier, monospace;">
                                                        cd C:\Users\<i><b>&lt;your_user&gt;</b></i>/.ssh/
                                                    </code>
                                                </li>
                                                <li><b>For Linux:</b>
                                                    <code style="background-color: #eee; border-radius: 3px; font-family: courier, monospace;">
                                                        cd ~/.ssh/
                                                    </code>
                                                    <div style="margin: 15px 0"><code
                                                            style="background-color: #eee; border-radius: 3px; font-family: courier, monospace; padding: 10px 5px;">chmod
                                                        600 dev_stack.pem</code></div>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            Connect to the server using ssh command:
                                            <div style="margin: 15px 0"><code
                                                    style="background-color: #eee; border-radius: 3px; font-family: courier, monospace; padding: 10px 5px;">ssh
                                                -i devstack root@{{public_address}}</code></div>

                                        </li>

                                    </ul>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            &copy; <strong>www.litestack.com</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>

</html>